body {
    background-color: #f0f8ff; /* Azul muy claro */
    font-family: Arial, sans-serif;
    color: #003366; /* Azul oscuro para texto */
    margin: 0;
    padding: 20px;
}

h1, h2, h3, h4, h5 {
    color: #00509e; /* Azul medio para títulos */
}

button {
    background-color: #007bff; /* Azul brillante */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

#map {
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #007bff; /* Borde azul */
}

#weather-card {
    margin-top: 15px;
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}